<footer id="Footer" class="clearfix">
	<div class="widgets_wrapper center">
		<div class="container">
			<div class="column one-fourth">
				<aside class="widget_text widget widget_custom_html">
					<div class="textwidget custom-html-widget">
						<div
							class="image_frame image_item no_link scale-with-grid alignnone no_border"
						>
							<div class="image_wrapper">
								<img
									class="scale-with-grid"
									src="content/industry2/images/industry2.png"
									alt="industry2"
									title
									width="158"
									height="88"
								/>
							</div>
						</div>
					</div>
				</aside>
			</div>
			<div class="column one-fourth">
				<aside class="widget_text widget widget_custom_html">
					<div class="textwidget custom-html-widget">
						<h6><a href="content/industry2/about.html">ABOUT US</a></h6>
						<h6><a href="content/industry2/services.html">SERVICES</a></h6>
						<h6><a href="content/industry2/press.html">PRESS</a></h6>
						<h6><a href="content/industry2/contact.html">CONTACT</a></h6>
					</div>
				</aside>
			</div>
			<div class="column one-second">
				<aside class="widget_text widget widget_custom_html">
					<div class="textwidget custom-html-widget">
						<h6 style="color: #79998c">ADDRESS</h6>
						<h3>
							Level 13, 2 Elizabeth St,
							<br />
							Melbourne, Victoria 3000, Australia
						</h3>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="footer_copy">
		<div class="container">
			<div class="column one">
				<a id="back_to_top" class="footer_button" href
					><i class="icon-up-open-big"></i
				></a>
				<div class="copyright">
					&copy; 2021 BeIndustry 2 - BeTheme. Muffin group - HTML by
					<a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY"
						>BeantownThemes</a
					>
				</div>
			</div>
		</div>
	</div>
</footer>
