{% load static %}
<!-- JS -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/mfn.menu.js' %}"></script>
<script src="{% static 'js/jquery.plugins.js' %}"></script>
<script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
<script src="{% static 'js/animations/animations.js' %}"></script>
<script src="{% static 'js/translate3d.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-6.custom/js/revolution.tools.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-6.custom/js/rs6.min.js' %}"></script>