{% load static %}
<div id="Top_bar">
  <div class="container">
    <div class="column one">
      <div class="top_bar_left clearfix">
        <div class="logo">
          <a id="logo" href="index-industry2.html" title="BeIndustry 2 - Betheme" data-height="60"
            data-padding="40"><img class="logo-main scale-with-grid" src="{% static 'images/industry2.png'%}"
              data-retina="{% static 'images/retina-industry2.png'%}" data-height="88" alt="industry2"
              data-no-retina><img class="logo-sticky scale-with-grid" src="{% static 'images/industry2.png'%}"
              data-retina="{% static 'images/retina-industry2.png'%}" data-height="88" alt="industry2"
              data-no-retina><img class="logo-mobile scale-with-grid" src="{% static 'images/industry2.png' %}"
              data-retina="{% static 'images/retina-industry2.png'%}" data-height="88" alt="industry2"
              data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static 'images/industry2.png' %}"
              data-retina="{% static 'images/retina-industry2.png'%}" data-height="88" alt="industry2"
              data-no-retina></a>
        </div>
        <div class="menu_wrapper">
          <nav id="menu">
            <ul id="menu-main-menu-left" class="menu menu-main menu_left">
              <li class=" current-menu-item page_item current_page_item"> <a
                  href="index-industry2.html"><span>HOME</span></a> </li>
              <li> <a href=""><span>ABOUT US</span></a> </li>
              <li> <a href=""><span>SERVICES</span></a> </li>
            </ul>
            <ul id="menu-main-menu-right" class="menu menu-main menu_right">
              <li> <a href=""><span>NEWS</span></a> </li>
              <li> <a href=""><span>CONTACT</span></a> </li>

            </ul>
          </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a>
        </div>
      </div>
      <div class="top_bar_right">

      </div>
    </div>
  </div>
</div>