{% extends 'base.html' %}
{% load static i18n%}
{% block content %}


<body
	class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide hide-love no-shadows header-split header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tr-menu ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				{% include 'partials/topbar.html' %}
			</header>
			<div id="Subheader">
				<div class="container">
					<div class="column one">
						<h1 class="title">{% blocktranslate %}About our company{% endblocktranslate %}</h1>
					</div>
				</div>
			</div>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-7c4e1fa6d" style="padding-top:110px;padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-875a2b295 one-second valign-top clearfix" style="padding:0 5% 0 0 ">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-c5b8fec4c one column_column column-margin-30px">
											<div class="column_attr clearfix" style>
												<h2 style="color:#105d42;">{% blocktranslate %}About us{% endblocktranslate %}</h2>

											</div>
										</div>
										<div class="column mcb-column mcb-item-406fe2c8d one column_divider">
											<hrstyle="margin:0 auto 45px;background-color:#f2f2f2">
										</div>
										<div class="column mcb-column mcb-item-7e77a5e88 one column_column">
											<div class="co<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mauris dolor, gravida a
													varius blandit, auctor eget purus.</h5>lumn_attr clearfix" style>
												<p>{% blocktranslate %}Africa Drought Inhibition and Livestock Protection Limited {ADILP} is an
													internal
													investment company registered under the Company Act as an entity in Kenya, Somalia and
													Ethiopia. It is the
													mission of ADILP to save livestock and sustain the livelihood of nomadic communities all
													around Africa.
													ADILP maintains the highest standards of ethics, integrity, transparency and responsibility in
													all its
													actions, tasks and relationships. We build on a reputation of quality products, smart growth
													and
													environmental friendliness of agricultural produce.
													{% endblocktranslate %} </p>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-8bf7d506c one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-58d9d400c one column_column">
											<div class="column_attr clearfix" style>
												<h2 style="color:#105d42;">{% blocktranslate %}Client Base{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 30px">
												<p> {% blocktranslate %}The company's main clients will be the nomadic communities and nations
													looking for
													sustenance of their economy and livelihoods during the prevalent drought period.
													The company is leveraged through private investment and donor funding. The company target
													client are the
													nomadic communities in Kenya, Somalia, Ethiopia, Djibouti, and the rest of Africa, with the
													government
													support of the respective nations and international organizations.
													{% endblocktranslate %}</p>
												<hr class="no_line" style="margin:0 auto 15px">
												<!-- <a class="button button_size_2 button_theme"
													href="services.html"><span class="button_label">OUR SERVICES</span></a> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-776c590f1 no-margin-h no-margin-v equal-height-wrap full-width"
							style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-5fbdd75b2 one-second valign-top bg-cover clearfix" style="background-image:url({% static 'images/pics/team/team.jpeg'%});background-repeat:no-repeat;background-position:left
									top">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-cb8f7d391 one column_divider">
											<hr class="no_line" style="margin:0 auto 400px">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-1dc2b4b65 one-second valign-top clearfix"
									style="padding:110px 6% 95px ;background-color:#f2f2f2">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-2a5b6f499 three-fourth column_column">
											<div class="column_attr clearfix" style>
												<h2>{% blocktranslate %}The Team{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 25px">
												<p> {% blocktranslate %}ADILP is a limited liability proprietorship incorporated in Kenya and
													Somalia for
													tax purposes. The corporation has the sole shareholding of Honorable Abdirashid Mohammed Hidig
													{a
													Visionary Leader, Revolutionary Politician and member of Somali Federal Parliament, an
													Agronomist, a MBA
													holder and, a serial investor}
													The company plans to be leveraged through private investment and international and national
													donor funding.
													The company has, for a period of twenty-two months, done intensive research in both
													agriculture and
													drought eradication and successfully launched its first output in Jubaland State (Kismayo) in
													Somalia,
													where it was hugely successful.
													{% endblocktranslate %} </p>
												<hr class="no_line" style="margin:0 auto 50px"> <a class="button button_size_2 button_theme"
													href="{% url 'contact'%}"><span class="button_label">JOIN US</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="section mcb-section mcb-section-hoiwh5gjy" style="padding-top:110px;padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-mlbnl3o3i one-fourth valign-top clearfix" style="padding:0 2%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-hmytaqbit one column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="number" data-to="32">32</span> </div>
												<hr class="hr_narrow">
												<div class="desc">
													<br>
													<h5>Maecenas vestibulum massa imperdiet justo</h5>
												</div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-v197qssvh one column_divider">
											<hrstyle="margin:0 auto 55px;background-color:#f2f2f2">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-2qvksiwju one-fourth valign-top clearfix" style="padding:0 2%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-jp7g34mj0 one column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="number" data-to="45">45</span> </div>
												<hr class="hr_narrow">
												<div class="desc">
													<br>
													<h5>Vestibulum ante ipsum primis in faucibus</h5>
												</div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-v3mdsyhv0 one column_divider">
											<hrstyle="margin:0 auto 55px;background-color:#f2f2f2">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-xfxyeivkj one-fourth valign-top clearfix" style="padding:0 2%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-uo9elzei6 one column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="number" data-to="130">130</span> </div>
												<hr class="hr_narrow">
												<div class="desc">
													<br>
													<h5>Sed sodales a nisi eu hendrerit sempra</h5>
												</div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-242arsrk1 one column_divider">
											<hrstyle="margin:0 auto 55px;background-color:#f2f2f2">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-wf5wkrx3m one-fourth valign-top clearfix" style="padding:0 2%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-xwjv8wz44 one column_quick_fact">
											<div class="quick_fact align_ animate-math">
												<div class="number-wrapper"> <span class="number" data-to="76">76</span> </div>
												<hr class="hr_narrow">
												<div class="desc">
													<br>
													<h5>Quisque commodo sapien leo, at lacinia</h5>
												</div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-apndpkfcr one column_divider">
											<hrstyle="margin:0 auto 55px;background-color:#f2f2f2">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-6fpg4hudc one valign-top clearfix" style>
									<div class="mcb-wrap-inner"></div>
								</div>
							</div>
						</div> -->
						<div class="section mcb-section mcb-section-fe3484f33" style="padding-top:110px;background-color:#f2f2f2">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-9f598c9b2 one valign-top clearfix" style>
									<!-- <div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-81649a27e one column_column">
											<div class="column_attr clearfix align_center" style>
												<h3>We cooperate with</h3>
											</div>
										</div>
										<div class="column mcb-column mcb-item-492da557b one column_clients">
											<ul class="clients clearfix ">
												<li style="width:20%">
													<div class="client_wrapper">
														<a target="_blank" href="#" title="Equnix">
															<div class="gs-wrapper"><img width="127" height="73" src="images/industry2-home-logo5.png"
																	class="scale-with-grid wp-post-image" alt loading="lazy"> </div>
														</a>
													</div>
												</li>
												<li style="width:20%">
													<div class="client_wrapper">
														<a target="_blank" href="#" title="Natureo">
															<div class="gs-wrapper"><img width="127" height="73" src="images/industry2-home-logo4.png"
																	class="scale-with-grid wp-post-image" alt loading="lazy"> </div>
														</a>
													</div>
												</li>
												<li style="width:20%">
													<div class="client_wrapper">
														<a target="_blank" href="#" title="Totul">
															<div class="gs-wrapper"><img width="127" height="73" src="images/industry2-home-logo3.png"
																	class="scale-with-grid wp-post-image" alt loading="lazy"> </div>
														</a>
													</div>
												</li>
												<li style="width:20%">
													<div class="client_wrapper">
														<a target="_blank" href="#" title="Rexol">
															<div class="gs-wrapper"><img width="127" height="73" src="images/industry2-home-logo2.png"
																	class="scale-with-grid wp-post-image" alt loading="lazy"> </div>
														</a>
													</div>
												</li>
												<li style="width:20%">
													<div class="client_wrapper">
														<a target="_blank" href="#" title="mobilRex">
															<div class="gs-wrapper"><img width="127" height="73" src="images/industry2-home-logo1.png"
																	class="scale-with-grid wp-post-image" alt loading="lazy"> </div>
														</a>
													</div>
												</li>
											</ul>
										</div>
										<div class="column mcb-column mcb-item-5225b905b one column_divider">
											<hr class="no_line" style="margin:0 auto 40px">
										</div>
										<div class="column mcb-column mcb-item-3f6cdde0e one column_divider">
											<hrstyle="margin:0 auto 90px;background-color:#dbe3e0">
										</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-4a251aac3 equal-height-wrap bg-contain"
							style="padding-bottom:70px;background-color:#f2f2f2;background-image:url(images/industry2-section-bg1.jpg);background-repeat:no-repeat;background-position:center bottom">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-5001a3bcf one-second valign-middle clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-930b75f7d five-sixth column_column">
											<div class="column_attr clearfix" style>
												<h2>{% blocktranslate %}The Project: ADILP Somalia{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 20px">
												<p> {% blocktranslate %}Phase 1 of the project is aims at serving 16 centers within Somalia and
													Kenya. The
													expansion
													structure
													of ADILP is curated by specialized franchising of large-scale hydroponic fodder production.
													The company
													believes that franchising of large-scale fodder production is the absolute game changer to the
													insistent
													drought crisis in Africa. With a team of highly qualified network of legal consultants, the
													company has
													successfully set up legal structures to ensure that the brand is not only protected, but, that
													the quality
													of the fodder production is maintained to the highest possible standards. The company believes
													that saving
													livestock lives of such communities will enhance comfort living and preserve
													livelihood.{% endblocktranslate %}
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-96915b819 one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-y5pjs7kfy one column_image">
											<div class="image_frame image_item no_link scale-with-grid no_border">
												<div class="image_wrapper"><img class="scale-with-grid"
														src="{% static 'images/pics/team/fodder.jpeg'%}" alt="industry2-press-pic6" title
														width="780" height="918"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-663cc47d1" style="padding-top:110px;padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-0dfbbbc08 one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-205a74ad9 five-sixth column_column">
											<div class="column_attr clearfix" style>
												<h2 style="color:#105d42;">{% blocktranslate %}ADILP’s values{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 30px">
												<p> {% blocktranslate %}The driving values in the undertaking of the project shall
													entail:{% endblocktranslate %}</p>
												<ul>
													<li>{% blocktranslate %}Transparency{% endblocktranslate %}</li>
													<li>{% blocktranslate %}Quality livestock feed{% endblocktranslate %}</li>
													<li>{% blocktranslate %}Affordability{% endblocktranslate %}</li>
													<li>{% blocktranslate %}Environmental consciousness{% endblocktranslate %}</li>
													<li>{% blocktranslate %}Livelihood preservation{% endblocktranslate %}</li>
												</ul>
											</div>
										</div>
										<div class="column mcb-column mcb-item-coz7nm8im one column_button"> <a
												class="button button_size_2 button_theme" href="{% url 'services' %}"><span
													class="button_label">SEE
													OUR OFFER</span></a> </div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-12yd0v6oa one-second valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-h108gh1s5 one column_column">
											<div class="column_attr clearfix" style>
												<h2 style="color:#105d42;">{% blocktranslate %}ADILP’s Vision{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 30px">
												<h5>{% blocktranslate %}To sustain nomadic communities in Africa by saving livestock
													lives.{% endblocktranslate %}</h5>
											</div>
										</div>
										<div class="column mcb-column mcb-item-fwryx5jm7 one column_divider">
											<hr style="margin:0 auto 60px;background-color:#dbe3e0">
										</div>
										<div class="column mcb-column mcb-item-npyafp4gu one column_column">
											<div class="column_attr clearfix" style>
												<h2 style="color:#105d42;">{% blocktranslate %}ADILP’s Mission{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 30px">
												<h5>{% blocktranslate %}The project’s mission is to provide a sustainable environment for
													nomadic
													pastoralists by preserving livestock lives thereby eliminating the rise of internally
													displaced persons
													(IDPs){% endblocktranslate %}</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "partials/footer.html" %}
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<!-- <div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
			<div class="extras-wrapper"></div>
		</div> -->
	</div>
	<div id="body_overlay"></div>
	{% include 'partials/scripts.html' %}
</body>

{% endblock %}