{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

<body class=" home page-template-default page template-slider color-custom style-simple button-custom layout-full-width
		if-zoom if-border-hide no-content-padding hide-love no-shadows header-split header-fw sticky-header sticky-tb-color
		ab-hide subheader-both-center menu-link-color menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll
		tr-menu ">
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0"
		nonce="kW3Aw1Mt"></script>
	<div id=" Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				{% include 'partials/topbar.html' %}
				<div class="mfn-main-slider mfn-rev-slider">
					<p class="rs-p-wp-fix"></p>
					<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery"
						style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
						<rs-module id="rev_slider_1_1" data-version="6.3.3">
							<rs-slides>
								<rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;"> <img
										src="{% static 'images/industry2-slider-bg.jpg'%}" class="rev-slidebg" data-no-retina>
									<rs-layer id="slider-1-slide-1-layer-0" data-type="text" data-rsp_ch="on"
										data-xy="x:l,l,c,c;xo:80px,80px,0,80px;yo:261px,261px,163px,163px;"
										data-text="w:normal;s:60,60,50,50;l:70,70,60,60;a:left,left,center,center;"
										data-dim="w:600px,600px,550px,550px;" data-frame_0="x:50,50,31,31;"
										data-frame_1="st:100;sp:800;sR:100;" data-frame_999="o:0;st:w;sR:8100;"
										style="z-index:8;font-family:DM Serif Display;"> AFRICA DROUGHT INHIBITION LIVESTOCK PROTECTION
									</rs-layer>
									<rs-layer id="slider-1-slide-1-layer-1" data-type="image" data-rsp_ch="on"
										data-xy="x:r;xo:-80px,-80px,-50px,-50px;yo:250px,250px,156px,156px;"
										data-text="w:normal;s:20,20,12,12;l:0,0,15,15;"
										data-dim="w:500px,500px,313px,313px;h:329px,329px,205px,205px;" data-vbility="t,t,f,t"
										data-frame_0="sX:0.9;sY:0.9;" data-frame_1="e:power2.inOut;st:200;sp:800;sR:200;"
										data-frame_999="o:0;st:w;sR:8000;" style="z-index:13;"><img
											src="{% static 'images/pics/logo.jpeg'%}" width="780" height="513" data-no-retina>
									</rs-layer>
									<rs-layer id="slider-1-slide-1-layer-2" data-type="shape" data-rsp_ch="on"
										data-xy="x:r;xo:180px,180px,112px,112px;yo:680px,680px,237px,237px;"
										data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-dim="w:80px,80px,50px,50px;h:80,80,50,50;"
										data-vbility="t,t,f,t" data-border="bor:90px,90px,90px,90px;" data-frame_0="sX:0.8;sY:0.8;"
										data-frame_1="e:power4.out;st:350;sp:800;sR:350;" data-frame_999="o:0;st:w;sR:7850;"
										style="z-index:14;background-color:#105d42;"></rs-layer><a id="slider-1-slide-1-layer-3"
										class="rs-layer prettyphoto" href="https://www.youtube.com/watch?v=z0jjTU-H43M" target="_self"
										data-type="text" data-rsp_ch="on" data-xy="x:r;xo:70px,70px,43px,43px;yo:705px,705px,253px,253px;"
										data-text="w:normal;s:20,20,12,12;l:30,30,18,18;" data-vbility="t,t,f,t"
										data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:800;sR:400;"
										data-frame_999="o:0;st:w;sR:7800;" style="z-index:15;font-family:DM Serif Display;">How we work? <i
											style="color:#ffd769;" class="material-icons">play_arrow</i> </a>
									<rs-layer id="slider-1-slide-1-layer-5" data-type="object" data-rsp_ch="on"
										data-xy="xo:50px,50px,31px,31px;yo:50px,50px,31px,31px;"
										data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-frame_999="o:0;st:w;sR:8700;"
										style="z-index:16;font-family:Roboto;"></rs-layer>
									<rs-layer id="slider-1-slide-1-layer-6" data-type="object" data-rsp_ch="on"
										data-xy="xo:50px,50px,31px,31px;yo:50px,50px,31px,31px;"
										data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-frame_999="o:0;st:w;sR:8700;"
										style="z-index:17;font-family:Roboto;"></rs-layer>
									<rs-layer id="slider-1-slide-1-layer-7" data-type="object" data-rsp_ch="on"
										data-xy="xo:50px,50px,31px,31px;yo:50px,50px,31px,31px;"
										data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-frame_999="o:0;st:w;sR:8700;"
										style="z-index:18;font-family:Roboto;"></rs-layer>
									<rs-layer id="slider-1-slide-1-layer-9" data-type="text" data-rsp_ch="on"
										data-xy="x:l,l,c,c;xo:80px,80px,-160px,-160px;yo:535px,535px,417px,417px;"
										data-text="w:normal;l:30;" data-frame_0="x:50,50,31,31;" data-frame_1="st:150;sp:800;sR:150;"
										data-frame_999="o:0;st:w;sR:8050;" style="z-index:9;font-family:DM Serif Display;"> The need.
									</rs-layer>
									<rs-layer id="slider-1-slide-1-layer-10" data-type="text" data-color="#ffd769" data-rsp_ch="on"
										data-xy="x:l,l,c,c;xo:380px,380px,160px,160px;yo:535px,535px,417px,417px;"
										data-text="w:normal;l:30;" data-frame_0="x:50,50,31,31;" data-frame_1="st:250;sp:800;sR:250;"
										data-frame_999="o:0;st:w;sR:7950;" style="z-index:11;font-family:DM Serif Display;"> The solution.
									</rs-layer>
									<rs-layer id="slider-1-slide-1-layer-11" data-type="text" data-rsp_ch="on"
										data-xy="x:l,l,c,c;xo:210px,210px,0,210px;yo:535px,535px,417px,417px;" data-text="w:normal;l:30;"
										data-frame_0="x:50,50,31,31;" data-frame_1="st:200;sp:800;sR:200;"
										data-frame_999="o:0;st:w;sR:8000;" style="z-index:10;font-family:DM Serif Display;"> The research.
									</rs-layer><a id="slider-1-slide-1-layer-12" class="rs-layer rev-btn" href="" target="_self"
										data-type="button" data-color="#363636" data-rsp_ch="on"
										data-xy="x:l,l,c,c;xo:80px,80px,0,80px;yo:643px,643px,532px,532px;"
										data-text="w:normal;s:12,12,14,14;l:55;ls:1px,1px,0px,0px;fw:700;" data-dim="minh:0px,0px,none,0px;"
										data-padding="r:40;l:40;" data-frame_0="x:50,50,31,31;" data-frame_1="st:300;sp:800;sR:300;"
										data-frame_999="o:0;st:w;sR:7900;"
										data-frame_hover="c:#363636;bgc:#fece4d;bor:0px,0px,0px,0px;bri:100%;"
										style="z-index:12;background-color:#ffd769;font-family:Inter;">SEE MORE DETAILS </a>
								</rs-slide>
							</rs-slides>
						</rs-module>
					</rs-module-wrap>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-s6nkhyjhh no-margin-h no-margin-v equal-height bg-cover"
							style="padding-left:5px;padding-right:5px;background-color:#f2f2f2">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-jf9q7vhue one valign-middle move-up clearfix"
									style="margin-top:-150px">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-dsygy6ui2 one-second column_column">
											<div class="column_attr clearfix bg-cover" style="background-image:url('{% static 'images/pics/folder1/distance_dry.jpeg'%}');background-repeat:no-repeat;background-position:center
												bottom;">
												<hr class="no_line" style="margin:0 auto 340px">
											</div>
										</div>
										<div class="column mcb-column mcb-item-g3q2ml8jc one-second column_column">
											<div class="column_attr clearfix mobile_align_center"
												style="background-color:#fff;padding:60px 60px 45px;">
												<h3 style="color:#105d42;">{% translate 'The Problem' %}</h3>
												<hr class="no_line" style="margin:0 auto 25px">
												<p>{% blocktranslate %}Now, more than ever, drought is a deteriorating humanitarian crisis as
													per the
													recent assessment by the International Rescue Committee (IRC). In a statement, dated 31st
													January 2022,
													IRC has warned that at least 25 million people will face catastrophic humanitarian need in the
													coming
													months as drought continues across East Africa, and specifically the above mentioned regions.
													IRC further
													states that thousands who depend on cultivation of crops and livestock have already been
													displaced as they
													move to find new pastures or sources of income and food.
													Somalia and Eastern Ethiopia and North Eastern Kenya feature on IRC’s Emergency Watchlist
													2022, as part of
													20 regions most at risk of a deteriorating humanitarian crisis this year. As such there is a
													constant urge
													to the international community for support to communities in Somalia, Eastern Ethiopia and
													North Eastern
													Kenya. While this primarily includes food, water and cash assistance, a more sustainable
													solution must be
													found to fully eradicate this dire situation.
													Over 7.7 million people across Somalia, or at least 46 percent of the total population, need
													urgent
													humanitarian food assistance to prevent food consumption gaps or the accelerated depletion of
													livelihood
													assets indicative of Crisis (IPC Phase 3) or worse outcomes through mid-2022. The key drivers
													of acute
													food insecurity in Somalia include the combined effects of consecutive seasons of poor and
													erratic
													rainfall distribution and conflict. Moreover, approximately 1.4 million children, or over 44
													percent of
													the children in Somalia under the age of five are likely to be acutely malnourished.
													“Farmers have started experiencing loss of livestock due to disease and reduced pastures,
													straining
													income, food security and the capacity of households to survive the shock of the drought”.
													{% endblocktranslate %}
												</p>

												<hr class="no_line" style="margin:0 auto 25px">
												<!-- <button onclick="seriously()"
													class=" button button_size_2 button_theme"><span
														class="button_label">{% trans 'READ MORE' %}</span></button> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class=" section mcb-section mcb-section-8h5abmrj9 equal-height-wrap bg-contain"
							style="padding-bottom:70px;background-color:#f2f2f2;background-image:url({% static 'images/industry2-section-bg1.jpg'%});background-repeat:no-repeat;background-position:center bottom">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-lbkzeagkj one-second valign-middle clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-r6km6ywm0 five-sixth column_column">
											<div class="column_attr clearfix">
												<h2>{% translate 'Solution' %}</h2>
												<hr class="no_line" style="margin:0 auto 30px">
												<p>{% blocktranslate %}Africa Drought Inhibition and Livestock Protection Limited –
													ADILP seeks
													to address this. The desire for and demand to create a sustainable and higher standard of
													living for the nomadic communities informs the inception of ADILP. The entire project
													encompasses mass growing of hydroponic fodder in arid areas with the aim of preserving
													livestock which in turn product nomadic communities’ economic rights and limits their
													displacement that is often occasioned by drought.{% endblocktranslate %}
												</p>
												<p id="blah" class="hidden"> {% blocktranslate %}The first of the project is aimed at serving
													a minimum of 28 drought-stricken centers regions in the three jurisdictions.
													The regional project combines drought eradication and livestock preservation solutions with
													technical style to accommodate the extreme conditions in Somalia, Eastern Ethiopia and North
													Eastern Kenya
													{% endblocktranslate %}</p>
												<hr class="no_line" style="margin:0 auto 40px">
												<!-- <a class="button button_size_2 button_theme"
													href=""><span class="button_label">READ MORE</span></a> -->
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-55jxlbcui one-second valign-middle clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-8d8844g01 one column_image">
											<div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
												<div class="image_wrapper"><img class="scale-with-grid"
														src="{% static 'images/pics/presentation.jpeg'%}" alt="industry2-home-pic2" title
														width="780" height="780"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-5j2h8sklt" style="padding-top:110px;padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<!-- <div class="wrap mcb-wrap mcb-wrap-qtw2l49ty one-second valign-top clearfix" style="padding:0 5% 0 0 ">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-gg0vwd8i6 one column_column">
											<div class="column_attr clearfix">
												<h2 style="color:#105d42;">2145 mln m<sup>3</sup></h2>
												<h5>{% blocktranslate %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
													mauris
													dolor, gravida
													a
													varius blandit, auctor eget purus.{% endblocktranslate %}</h5>
											</div>
										</div>
										<div class="column mcb-column mcb-item-b6hrdyld1 one column_divider">
											<hr style="margin:0 auto 55px;background-color:#f2f2f2">
										</div>
										<div class="column mcb-column mcb-item-y08jlqmat one column_column">
											<div class="column_attr clearfix">
												<p> {% blocktranslate %}Proin eu nibh sagittis, auctor nulla id, malesuada nulla.
													Integer sed
													tellus eu orci
													pellentesque ultricies venenatis eget massa. Ut tempor sapien vel dolor venenatis
													feugiat.
													Donec egestas purus odio, a varius lorem vulputate at. Lorem ipsum dolor sit amet,
													consectetur
													adipiscing elit.{% endblocktranslate %}</p>{% trans 'Lets Translate this' %}
												<p> </p>
											</div>
										</div>
									</div>
								</div> -->
								<div class="wrap mcb-wrap mcb-wrap-8o6qf46vm valign-top clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-9filqagpj one column_column">
											<div class="column_attr clearfix">
												<h2 style="color:#105d42;"> {% blocktranslate %}Keys to Success{% endblocktranslate %}
												</h2>
												<hr class="no_line" style="margin:0 auto 30px">
												<p> {% blocktranslate %}ADILP project's keys to success and profitability are as
													follows:{% endblocktranslate %}</p>
												<h5 style="color:#105d42;"> {% blocktranslate %}Partnerships:{% endblocktranslate %}
												</h5>
												<p>{% blocktranslate %}Establish and maintain close contacts with investors, leaders and
													entrepreneurs
													in the
													agronomic space, and all other service organizations that ADILP intends to partner
													with.{% endblocktranslate %}</p>
												<h5 style="color:#105d42;"> {% blocktranslate %}Relationship: {% endblocktranslate %}
												</h5>{% blocktranslate %}<p>Keeping close contact with pastoral communities across different
													regions and
													establishing a
													well-functioning long-term relationship with them to generate repeat business and obtain a
													top-notch
													reputation.{% endblocktranslate %}</p>
												<h5 style="color:#105d42;"> {% blocktranslate %}Quality:{% endblocktranslate %}
												</h5>
												<p>{% blocktranslate %}Establish a quality and comprehensive service experience for our clients
													that
													include
													consultation, appraisal, product training, community information, etc.
													{% endblocktranslate %}</p>
												<hr class="no_line" style="margin:0 auto 40px"> <a class="button button_size_2 button_theme"
													href="services/"><span class="button_label">OUR SERVICES</span></a><a
													class="button button_size_2" href="contact/"><span class="button_label">CONTACT US</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-dg2maqv1x" style="padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-x2mgm0lnv one valign-top clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-pzy74ukmc one column_divider">
											<hrstyle="margin:0 auto 110px;background-color:#f2f2f2">
										</div>
										<div class="column mcb-column mcb-item-zb6dn8xav one column_column">
											<div class="column_attr clearfix align_center">
												<h6 class="industry2-heading">NEWS</h6>
												<h2>News & reports</h2>
												<!-- <p style="color: #a3a3a3;"> Suspendisse blandit, nisl ut aliquet varius, sem dolor
													auctor nisi,
													<br> vel facilisis sapien elit et magna. </p> -->
											</div>
										</div>
										<div class="column mcb-column mcb-item-htai8z6xe one column_blog_slider">
											<div class="blog_slider clearfix flat hide-arrows" data-count="8">
												<div class="blog_slider_header clearfix">
													<div class="slider_navigation"></div>
												</div>
												<ul class="blog_slider_ul">
													{% for new in news %}
													<li
														class="post-75 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
														<div class="item_wrapper">
															<div class="image_frame scale-with-grid">
																<div class="fb-video" data-href="{{new.video_link}}" data-width="500"
																	data-show-text="true" data-allowfullscreen="true">
																	<blockquote cite="{{new.video_link}}" class="fb-xfbml-parse-ignore"><a
																			href="{{new.video_link}}"></a>
																		{{new.date}}
																	</blockquote>
																</div>

															</div>
															<div class="date_label"> {{new.date}} </div>
															<!-- <div class="desc">
																<hr class="hr_color"> <a href="" class="button button_left has-icon"><span
																		class="button_icon"><i class="icon-layout"></i></span><span
																		class="button_label">Read more</span></a>
															</div> -->
														</div>
													</li>
													{% endfor %}

												</ul>
												<div class="slider_pager slider_pagination"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-46v3d3i2l no-margin-h no-margin-v equal-height-wrap full-width"
							style="padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-95eq42v59 one-second valign-top bg-cover clearfix"
									style="background-image:url({% static 'images/pics/folder1/initiative.jpeg'%});background-repeat:repeat;background-position:center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-i2zia28dk one column_divider">
											<hr class="no_line" style="margin:0 auto 400px">
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-8246rzwcs one-second valign-top clearfix"
									style="padding:110px 6% 95px ;background-color:#f2f2f2">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-nns8gdnic three-fourth column_column">
											<div class="column_attr clearfix">
												<h2>{% blocktranslate %}How we see it{% endblocktranslate %}</h2>
												<hr class="no_line" style="margin:0 auto 25px">
												<p>{% blocktranslate %}ADILP project targets the arid and semi-arid populace. As such its
													concentration will
													be on multiple market segments. The nomadic community forms a large part of the population in
													Africa and
													has been steadily growing over the past two years. Further, this group’s need for a solution
													for the
													adverse climate it often faces is unquantifiable and has even experienced exponential growth
													recently. The
													implication of a short supply of food and water during drought season has led to the loss of
													both animal
													and human life. Over the recent past, no permanent solution has been adopted to aid in
													preserving the
													lives and livelihood of nomadic communities.
													ADILP believes that the greatest threat to nomadic communities is lack of livelihood that
													ultimately
													forces them to adopt IDPs status in their own countries. As such, preservation of their
													sources of
													livelihood would be a step towards a comprehensive and permanent solution against the drought.
													One major
													advantage that ADILP has is that it has the capacity to produce livestock feed in large
													capacity within a
													remarkably short period of time.
													{% endblocktranslate %} </p>
												<hr class="no_line" style="margin:0 auto 50px"> <a class="button button_size_2 button_theme"
													href="{% url 'contact'%}"><span class="button_label">JOIN US</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-rqyfej8pp" style="padding-top:110px;padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-i2ow58krl one valign-top clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-q7afwykle one column_column">
											<div class="column_attr clearfix align_center">
												<h2>Questions?</h2>
												<div class="mfn_heading heading_lines align_center">
													<h2 class="title" style="color:#105d42;"><span class="line line_l"
															style="background:#f2f2f2;"></span> +254 (0) 798 783 878<span class="line line_r"
															style="background:#f2f2f2;"></span></h2>
												</div>
												<div class="mfn_heading heading_lines align_center">
													<h2 class="title" style="color:#105d42;"><span class="line line_l"
															style="background:#f2f2f2;"></span> +252 613 716 502<span class="line line_r"
															style="background:#f2f2f2;"></span></h2>
												</div>
												<h2>Call us</h2>
												<hr class="no_line" style="margin:0 auto 50px"> <a class="button button_size_2 button_theme"
													href="{% url 'contact'%}"><span class="button_label">CONTACT US</span></a><a
													class="button button_size_2" href="{% url 'news'%}"><span class="button_label">GO
														TO NEWS</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "partials/footer.html" %}
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<!-- <div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
			<div class="extras-wrapper"></div> -->
	</div>
	</div>
	<div id="body_overlay"></div>
	{% include 'partials/scripts.html' %}
	<script>
		$(function () {
			$('#blah').removeClass('hidden');
		});
	</script>
	<script>
		var revapi1, tpj;

		function revinit_revslider11() {
			jQuery(function () {
				tpj = jQuery;
				revapi1 = tpj("#rev_slider_1_1");
				if (revapi1 == undefined || revapi1.revolution == undefined) {
					revslider_showDoubleJqueryError("rev_slider_1_1");
				} else {
					revapi1.revolution({
						sliderType: "hero",
						sliderLayout: "fullwidth",
						visibilityLevels: "1240,1240,778,778",
						gridwidth: "1240,1240,778,778",
						gridheight: "1080,1080,960,960",
						perspective: 600,
						perspectiveType: "global",
						editorheight: "1080,768,960,720",
						responsiveLevels: "1240,1240,778,778",
						progressBar: {
							disableProgressBar: true
						},
						navigation: {
							onHoverStop: false
						},
						fallbacks: {
							allowHTML5AutoPlayOnAndroid: true
						},
					});
				}
			});
		}
		var once_revslider11 = false;
		if (document.readyState === "loading") {
			document.addEventListener('readystatechange', function () {
				if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider11) {
					once_revslider11 = true;
					revinit_revslider11();
				}
			});
		} else {
			once_revslider11 = true;
			revinit_revslider11();
		}
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-52CM7KJK0K"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'G-52CM7KJK0K');
	</script>


</body>

{% endblock %}