{% extends 'base.html' %}
{% load static %}
{% block content %}


<body
	class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide hide-love no-shadows header-split header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tr-menu ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				{% include 'partials/topbar.html' %}
			</header>
			<div id="Subheader">
				<div class="container">
					<div class="column one">
						<h1 class="title">Services</h1>
					</div>
				</div>
			</div>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<!-- <div class="section mcb-section mcb-section-9ix7dqhl6 equal-height-wrap"
							style="padding-top:110px;padding-bottom:110px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-dva3am3j5 one-second valign-middle clearfix" style="padding:0 2%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-2ipa92q48 one column_column column-margin-30px">
											<div class="column_attr clearfix" style>
												<h2 style="color:#105d42;">Sed ultrices nisl velit eu ornare</h2>
												<hr class="no_line" style="margin:0 auto 15px">
												<h5>Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum dui in
													fringilla sollicitudin.</h5>
											</div>
										</div>
										<div class="column mcb-column mcb-item-6ugky5xon one column_divider">
											<hrstyle="margin:0 auto 40px;background-color:#dbe3e0">
										</div>
										<div class="column mcb-column mcb-item-3bjbjr5hs one column_column">
											<div class="column_attr clearfix" style>
												<p> Sed enim metus, tempus elementum dui in, fringilla sollicitudin erat. Suspendisse blandit,
													nisl ut aliquet varius, sem dolor auctor nisi, vel facilisis sapien elit et magna. </p>
												<p> Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non consectetur libero.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-svitc9lvq one-second valign-middle clearfix" style="padding:0 2%">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-grjl4xtnl one column_column column-margin-0px">
											<div class="column_attr clearfix" style="background-color:#105d42;padding:60px 60px 45px;">
												<h2 style="color:#FFFFFF;">95%</h2>
												<p style="color:#FFFFFF;"> Duis dignissim mi ut laoreet mollis. Nunc id tellus finibus nisl ut
													aliquet varius. </p>
											</div>
										</div>
										<div class="column mcb-column mcb-item-0uuwk0wc1 one column_column">
											<div class="column_attr clearfix" style="background-color:#040406;padding:60px;">
												<h2 style="color:#FFFFFF;">3490</h2>
												<p style="color:#FFFFFF;"> Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> -->
						{% for service in services %}
						<div class="section mcb-section mcb-section-8iagme82v no-margin-h no-margin-v equal-height-wrap full-width"
							style="padding-bottom:120px;padding-left:5%;padding-right:5%">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-0j48nc9n9 one-second valign-top clearfix"
									style="padding:110px 6% 95px ;background-color:#f2f2f2">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-klr0irky9 three-fourth column_column">
											<div class="column_attr clearfix mobile_align_center" style>
												<h2>{{service.title}}</h2>
												<hr class="no_line" style="margin:0 auto 15px">
												<p> {{service.description | safe}}</p>
												<hr class="no_line" style="margin:0 auto 15px"> <a class="button button_size_2 button_theme"
													href="{% url 'service' service.title %}"><span class="button_label">READ MORE</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap mcb-wrap mcb-wrap-nwyzr7y7u one-second valign-top bg-cover clearfix"
									style="background-image:url({{service.image.url}});background-repeat:repeat;background-position:center">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-2op3bcxzr one column_divider">
											<hr class="no_line" style="margin:0 auto 400px">
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="section mcb-section mcb-section-e5fe6d849" style="padding-top:110px;padding-bottom:70px">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-32ec49edf one valign-top clearfix" style>
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-5235a2131 one column_column">
											<div class="column_attr clearfix align_center" style>
												<h2>Questions?</h2>
												<div class="mfn_heading heading_lines align_center">
													<h2 class="title" style="color:#105d42;"><span class="line line_l"
															style="background:#f2f2f2;"></span>
														africadroughtlivestock@gmail.com<span class="line line_r"
															style="background:#f2f2f2;"></span>
													</h2>
												</div>
												<h2> Email Us</h2>
												<hr class="no_line" style="margin:0 auto 50px"> <a class="button button_size_2 button_theme"
													href="contact.html"><span class="button_label">CONTACT US</span></a><a
													class="button button_size_2" href="press.html"><span class="button_label">GO TO
														PRESS</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "partials/footer.html"%}
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>
		<!-- <div class="extras"> <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
			<div class="extras-wrapper"></div>
		</div> -->
	</div>
	<div id="body_overlay"></div>
	{% include "partials/scripts.html"%}
</body>

{% endblock %}